.bannerSlider {
  padding-bottom: 0;
  position: relative;
  .slick-slider {
    .slick-slide {
      .banner {
        background: #e3f3ff;
        .container {
          width: 92%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 80px 0;
          @media (min-width: 1440px) {
            width: 1280px !important;
          }
          .bannerBox {
            width: 48%;
            p {
              margin: 0;
              margin-bottom: 35px;
              font-weight: normal;
              font-size: 22px;
              line-height: 35px;
              color: #708ca0;
            }
            .touch {
              width: 100%;
              display: flex;
              align-items: flex-start;
              .textInput {
                margin-right: 10px;
                // width: 100%;
                @media (min-width: 1300px) {
                  width: 400px;
                  max-width: 400px;
                }
                @media (min-width: 1200px) {
                  width: 300px;
                  max-width: 300px;
                }
                @media (max-width: 1200px) {
                  width: 300px;
                  max-width: 300px;
                }
                @media (max-width: 930px) {
                  width: 400px;
                  max-width: 400px;
                }
                @media (max-width: 930px) {
                  width: 100%;
                  max-width: 100%;
                  margin-right: 0;
                }
              }
              .bordHover {
                label {
                  color: #708ca0;
                }
                .input {
                  border: 1px solid #7d7c81;
                }
              }
              .btn {
                margin-top: 8px;
              }
            }
          }
        }
        @media (max-width: 1200px) {
          .container {
            .bannerBox {
              width: 58%;
            }
            img {
              width: 40%;
            }
          }
        }
        @media (max-width: 1010px) {
          .container {
            .bannerBox {
              width: 62%;
            }
            img {
              width: 36%;
            }
          }
        }
        @media (max-width: 930px) {
          .container {
            width: 600px;
            flex-flow: column;
            .bannerBox {
              width: 100%;
              order: 2;
              display: flex;
              align-items: flex-start;
              flex-flow: column;
              justify-content: center;
              h1,
              p {
                text-align: start;
              }
            }
            img {
              width: 100%;
              order: 1;
              margin-bottom: 30px;
            }
          }
        }
        @media (max-width: 680px) {
          .container {
            width: 92%;
            flex-flow: column;
            align-items: flex-start;
            padding: 45px 0;
            img {
              width: 75%;
              margin-bottom: 15px;
            }
            .bannerBox {
              h1 {
                font-size: 30px;
                line-height: 45px;
              }
              p {
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 16px;
              }
              .bottom {
                width: 100%;
                .touch {
                  width: 100%;
                  flex-flow: column;
                  align-items: center;
                  .textInput {
                    width: 100%;
                  }
                  .btn {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
