.service {
  .container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 120px 0;
    padding-bottom: 30px;
    .bottom {
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .serviceBox {
      width: 30%;
      margin: 1%;
      height: 285px;
      margin-bottom: 90px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .contain {
        width: 285px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        height: 285px;
        position: relative;
        cursor: pointer;
        .boxHover {
          position: absolute;
          display: none;
          width: 285px;
          height: 285px;
          border: 2px dashed #074269;
          box-sizing: border-box;
          transform: matrix(1, -0.05, 0.05, 1, 0, 0);
        }
        &.plain {
          align-items: flex-start;
          .boxHover {
            display: none;
          }
        }
        .imgBanner {
          min-height: 100px;
          width: 100px;
          background-color: #68c0ff;
        }
        .lazyload-wrapper {
          // width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.boxDesign {
          background: #e3f3ff;
          h3 {
            background: -webkit-linear-gradient(
              135deg,
              #68c0ff 0%,
              #074269 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &:hover {
            .boxHover {
              display: block;
            }
          }
        }
        &.boxWeb {
          background: rgba(159, 196, 3, 0.08);
          h3 {
            background: -webkit-linear-gradient(
              135deg,
              #92ffc0 0%,
              #002661 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &:hover {
            .boxHover {
              display: block;
              border: 2px dashed #074269;
            }
          }
        }
        &.boxGraph {
          background: #fff1ea;
          h3 {
            background: -webkit-linear-gradient(
              135deg,
              #ff9d6c 0%,
              #bb4e75 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &:hover {
            .boxHover {
              display: block;
              border: 2px dashed #d44638;
            }
          }
        }
        &.boxSocial {
          background: #fffaeb;
          h3 {
            background: -webkit-linear-gradient(
              135deg,
              #fd6e6a 0%,
              #ffc600 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &:hover {
            .boxHover {
              display: block;
              border: 2px dashed #ff9d6c;
            }
          }
        }
        &.boxVid {
          background: #edf7ff;
          h3 {
            background: -webkit-linear-gradient(
              135deg,
              #68c0ff 0%,
              #074269 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &:hover {
            .boxHover {
              display: block;
              border: 2px dashed #074269;
            }
          }
        }
      }
      p {
        margin-bottom: 47px;
      }
      h3 {
        display: block;
        font-size: 26px;
        line-height: 39px;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    @media (max-width: 1160px) {
      .serviceBox {
        width: 48%;
      }
    }
    @media (max-width: 730px) {
      padding: 80px 0;
      .bottom {
        display: flex;
        .btn {
          span img {
            width: auto;
            height: auto;
            padding-left: 0;
          }
        }
      }
      .serviceBox {
        width: 100%;
        margin-bottom: 30px;
        height: fit-content;
        .contain {
          width: 100%;
          flex-flow: row;
          height: 100px;
          padding: 0;
          justify-content: flex-start;
          .boxHover {
            display: none !important;
          }
          &.plain {
            flex-flow: column;
            height: max-content;
            justify-content: center;
            align-items: center;
            h2 {
              // font-size: 32px;
              // line-height: 48px;
              text-align: center;
            }
            p {
              text-align: center;
              margin-bottom: 0px;
            }
            .btn {
              display: none;
              span img {
                width: auto;
                height: auto;
                padding-left: 0;
              }
            }
          }
          img {
            width: 80px;
            padding-left: 30px;
          }
          .imgBanner {
            width: 80px;
            padding-left: 30px;
          }
          .lazyload-wrapper{
            width: auto !important;
          }
          h3 {
            font-size: 22px;
            line-height: 30px;
            padding-left: 24px;
            margin: 0;
            text-align: start;
          }
        }
      }
    }
  }
}
