.test {
  .container {
    padding: 110px 0 120px;
    .arrow {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .slick-slider {
      padding: 40px 0;
      padding-bottom: 0;
      .slick-list {
        padding: 20px 0;
      }
      .slick-dots li button:before {
        font-size: 12px;
        color: #074269;
      }
      .slick-slide {
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .testBox {
          width: 95% !important;
          height: 250px;
          background: #f3f5f7;
          border: 1px solid #f3f5f7;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          padding: 32px;
          margin: 0 !important;
          @media(max-width:350px){
            height: 270px !important;
          }
          p {
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            margin: 0;
            &.detail {
              font-size: 14px;
              line-height: 21px;
            }
          }
          h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #074269;
            margin: 0;
            margin-top: 30px;
          }
        }
        @media (max-width: 900px) {
          .testBox {
            padding: 32px 21px 21px;
            width: 340px;
            height: 250px;
            border-radius: 10px;
            p {
              font-size: 16px;
              line-height: 24px;
            }
            h5 {
              margin-top: 25px;
              font-size: 18px;
              line-height: 27px;
            }
            .detail {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .container {
      padding: 54px 0;
      padding-bottom: 74px;
    }
    .arrow {
      display: flex;
      flex-flow: column;
      align-items: center !important;
      justify-content: center !important;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        width: 90%;
      }
    }
    .slick-slider {
      flex-flow: row;
      padding-top: 12px !important;
    }
  }
}
