.test {
  padding: 110px 0 120px;
  .container {
    .slider {
      width: 100%;
      overflow-x: scroll;
      padding: 40px 0;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .slide {
        // width: 1700px;
        width: max-content;
        display: flex;
        .testBox {
          width: 490px;
          height: 250px;
          background: #f3f5f7;
          border: 1px solid #f3f5f7;
          box-sizing: border-box;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          padding: 32px;
          margin: 0 25px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 10px;
          }
          p {
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            margin: 0;
            &.detail {
              font-size: 14px;
              line-height: 21px;
            }
          }
          h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #074269;
            margin: 0;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
