.App {
  width: 100%;
  overflow-x: hidden;
}

.login {
  width: 100%;
  overflow-x: hidden;
  padding-top: 67px;
  background-color: transparent;
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 67px);
    .loginForm {
      margin-top: 20px;
      width: 300px;
      .error-text {
        text-align: start;
        color: red;
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        padding-bottom: 5px;
        padding-left: 5px;
      }
      .btn {
        padding: 10px 30px;
        width: fit-content;
        // height: fit-content;
        position: relative;
        margin-top: 10px;
      }
      .otp {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 10px;
        .textInput {
          width: 100%;
        }
        .resend {
          color: #074269;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #074269;
          padding: 3px;
          border-radius: 0;
        }
      }
    }
  }
}
.MuiMenu-paper {
  top: 100px !important;
  width: 170px !important;
  .MuiMenuItem-root {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: block;
    color: #333;
    // padding-top: 0;
    // padding-bottom: 0;
  }
}

.back {
  width: 100%;
  .head {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    .newDrop {
      background-color: transparent !important;
      filter: none !important;
      padding: 8px 0;
      font-weight: 600;
      text-transform: capitalize;
    }
    .MuiButton-label {
      margin: 0 !important;
    }
  }
  .container {
    padding: 40px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .page {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    .ui.pagination.menu {
      padding-left: 0;
      border: 0;
      background-color: transparent;
      box-shadow: none;
      &.out {
        border-color: transparent;
        // padding-bottom: 5px;
        // box-shadow: none;
        border-radius: 5px;
        display: flex;
        .in {
          margin: 0 4px;
          list-style: none;
          border-radius: 5px;
          box-shadow: none;
          // padding: 5px;
          &.prev {
            margin-left: 0;
          }
          &.next {
            margin-right: 0;
          }
          .item {
            justify-content: center;
            padding: 0;
            border-radius: 4px;
            color: #074269;
            border: 1px solid #074269;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:focus {
              outline: none;
            }
            &:hover {
              color: #074269 !important;
              background-color: #ffdd28;
              border-color: #ffdd28;
            }
            &.active {
              padding: 0;
              background-color: #ffdd28;
              border-color: #ffdd28;
              color: #074269;
            }
          }
        }
      }
    }
  }
}

table.mainData {
  border: 1px solid #dadada;
  box-sizing: border-box;
  box-shadow: 5px 9px 50px rgba(130, 130, 130, 0.15);
  border-radius: 3px;
  width: 100%;
  padding: 18px 0;
  padding-bottom: 10px;
  border-collapse: inherit;
  border-spacing: 0;
  padding-bottom: 0;
  //   text-indent: ;
  .border {
    width: 100%;
    border: 1px solid #dadada;
  }
  tr {
    width: 100%;
    // height: 30px;
    // display: flex;
    // align-items: center;
    // border-bottom-color: red !important;
    &.empty {
      // word-break: break-all;
      height: 60px;
      border-bottom: 1px solid #dadada;
      text-align: center;
      td {
        font-weight: normal;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #667c8a;
        position: absolute;
        left: 45%;
        top: 60%;
      }
    }
    th {
      width: 12%;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #919eab;
      padding-bottom: 5px;
      text-align: start;
      font-family: "Poppins", sans-serif;
      &:nth-child(1) {
        padding-left: 25px;
      }
      &:nth-child(5) {
        // width: 40%;
        padding-right: 25px;
        padding-left: 15px;
      }
    }
    td {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #667c8a;
      // word-break: break-all;
      word-break: break-word;
      height: 60px;
      border-bottom: 1px solid #dadada;
      padding-left: 5px;
      &:nth-child(1) {
        padding-left: 25px;
        width: 15%;
      }
      &:nth-child(2) {
        width: 23%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 16%;
      }
      &:nth-child(5) {
        width: 40%;
        padding-right: 25px;
        padding-left: 15px;
      }
    }
    &:last-child {
      td {
        border-bottom-color: transparent;
      }
    }
  }
}
